In [6]:
import pandas as pd
import yfinance
import plotly.express as px

In [43]:
df = yfinance.download("AAPL", start="2020-01-01", end="2023-01-01")

[*********************100%***********************]  1 of 1 completed

In [45]:
df_copy = df.copy()
df_copy.columns = list(col[0] for col in df.columns)
#df_copy['Date'] = df_copy.index.astype(str)

In [ ]:
df_copy['Date'] = df_copy.index.to_str

In [ ]:
# drop index column
df_copy.reset_index(drop=True, inplace=True)

          Close        High         Low        Open     Volume        Date
0     72.620850   72.681296   71.373226   71.627100  135480400  2020-01-02
1     71.914818   72.676447   71.689957   71.847118  146322800  2020-01-03
2     72.487854   72.526541   70.783256   71.034717  118387200  2020-01-06
3     72.146935   72.753816   71.926907   72.497522  108872000  2020-01-07
4     73.307510   73.609745   71.849533   71.849533  132079200  2020-01-08
..          ...         ...         ...         ...        ...         ...
751  130.173798  130.726634  127.982185  129.245816   63814900  2022-12-23
752  128.367172  129.729530  127.073927  129.699914   69007800  2022-12-27
753  124.428207  129.354393  124.260383  128.011784   85438400  2022-12-28
754  127.952568  128.811438  126.096612  126.353282   75703700  2022-12-29
755  128.268448  128.288196  125.800425  126.767896   77034200  2022-12-30

[756 rows x 6 columns]

In [4]:
df.columns

Index(['Date', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [5]:
df['Date']

0       2015-10-21
1       2015-10-22
2       2015-10-23
3       2015-10-26
4       2015-10-27
           ...
2414    2025-05-29
2415    2025-05-30
2416    2025-06-02
2417    2025-06-03
2418    2025-06-04
Name: Date, Length: 2419, dtype: object